<div class="board-detail container">
  <h1>{{ board.title }}</h1>
  <p class="help-block">{{ board.description }}</p>
  <button class="btn btn-info" ng-click="open()">Write</button>

  <ul class="post-list">
    <a href="http://{{ post.link }}" ng-repeat="post in posts track by post._id">
      <li class="post-list-item">
        <p>{{ $index+1 }} | {{ post.title }}<span class="pull-right">by {{ post.ownerId }}</span></p>
        <p>{{ post.link || post.text }}</p>
      </li>
    </a>
  </ul>
</div>


<!-- REFERENCE
<ul class="boards-list">
  <li class="board-list-title" dir-paginate="board in boards | itemsPerPage: perPage" total-items="boardsCount.count">
    <p class="board-list-description">
      <a href="/boards/{{ board.symbol }}" popover-title="{{ board.title }}" popover="{{ board.description }}" popover-trigger="mouseenter">{{ board.symbol }}</a>
    </p>
  </li>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
-->
