<div>
  <script type="text/ng-template" id="commentListItem">
    <li class="comment-list-item">
      <div class="row">
        <div class="col-xs-1">
          <div class="comment-list-item-score">{{ comment.score || 0 }}</div>
        </div>
        <div class="col-xs-11">
          <span class="comment-list-item-author">{{ comment.author }} | {{ comment.createdAt|timeAgo }}</span>
          <p ng-repeat="line in getMultilineText(comment.body) track by $index">{{ line }}</p>

          <button class="btn btn-xs" ng-class="upvoted(comment) ? 'btn-success' : 'btn-default'" ng-click="upvote(comment)"><i class="fa fa-fw fa-thumbs-up"></i> 좋아요</button>
          <button class="btn btn-xs" ng-class="downvoted(comment) ? 'btn-danger' : 'btn-default'" ng-click="downvote(comment)"><i class="fa fa-fw fa-thumbs-down"></i> 싫어요</button>
          <button class="btn btn-xs" ng-class="'btn-default'" ng-click="comment.isHidden = !comment.isHidden"><i class="fa fa-fw fa-comment"></i> 댓글달기</button>
        </div>
      </div>
    </li>
    <ul style="margin-top: 1rem;" ng-show="comment.isHidden">
      <li class="comment-list-form">
        <form name="commentForm" ng-submit="addComment(newSubComment, comment)">
          <div class="form-group">
            <textarea type="text" class="form-control" row="5" ng-model="newSubComment.body"></textarea>
          </div>
          <div class="form-group clearfix">
            <button class="btn btn-sm btn-primary pull-right">Comment</button>
          </div>
        </form>
      </li>
    </ul>
    <ul class="comment-list" ng-repeat="comment in comment.comments track by comment._id" ng-include="'commentListItem'"></ul>
  </script>

  <ul class="comment-list" ng-repeat="comment in comments track by comment._id" ng-include="'commentListItem'" ></ul>
</div>
