.post-list {
  padding: 1rem 0;
  a {
    text-decoration: none!important;
  }
  .post-list-item {
    list-style: none;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #AAA;
    border-radius: 0.3rem;
    transition: background-color 0.25s;
    &:hover {
      background-color: #DDD;
    }
  }
  .post-list-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
