<div class="row">
  <div class="col-xs-1">
    <div class="comment-list-item-score">{{ comment.score || 0 }}</div>
  </div>
  <div class="col-xs-11">
    <span class="comment-list-item-author">{{ comment.author }} | {{ comment.createdAt|timeAgo }}</span>
    <p ng-repeat="line in getMultilineText(comment.body) track by $index">{{ line }}</p>

    <button class="btn btn-xs" ng-class="upvoted(comment) ? 'btn-success' : 'btn-default'" ng-click="upvote(comment)"><i class="fa fa-fw fa-thumbs-up"></i> 좋아요</button>
    <button class="btn btn-xs" ng-class="downvoted(comment) ? 'btn-danger' : 'btn-default'" ng-click="downvote(comment)"><i class="fa fa-fw fa-thumbs-down"></i> 싫어요</button>
  </div>
</div>
